.calendar-wrapper{
  overflow:auto;
}

.calendar-header{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

.calendar-row{
  display:flex;
}

.user-cell{
  width:150px;
  padding:5px;
  background:#f3f4f6;
}

.day-cell{
  width:30px;
  text-align:center;
  font-size:12px;
}

.cell{
  width:30px;
  height:30px;
  border:1px solid #ddd;
  cursor:pointer;
}

/* COLORS */

.pending{ background:red; }
.approved{ background:green; }
.half{ background:orange; }
.early{ background:blue; }

.rejected{
  background: repeating-linear-gradient(
    45deg,
    #ccc,
    #ccc 5px,
    #fff 5px,
    #fff 10px
  );
}

/* POPUP */

.popup{
  position:fixed;
  top:30%;
  left:40%;
  background:white;
  padding:20px;
  border:1px solid #ddd;
}