.company-wrapper{
  max-width:900px;
  margin:auto;
}

.company-title{
  margin-bottom:30px;
}

/* TOP AREA */

.company-top{
  display:flex;
  gap:40px;
}

/* USER STATS BOX */

.company-stats{
  width:220px;
  background:#f5f5f5;
  padding:20px;
  border-radius:8px;
}

.company-stats h3{
  margin-bottom:20px;
  font-size:18px;
}

.stat-row{
  font-size:14px;
  margin-bottom:16px;
}

.stat-row span{
  display:block;
  font-size:22px;
  font-weight:bold;
}

/* COMPANY INFO BOX */

.company-info{
  flex:1;
  max-width:360px;
  background:#f5f5f5;
  padding:12px;
  border-radius:8px;

  display:grid;
  grid-template-columns:1fr;
  gap:6px;
}

.company-info label{
  font-size:11px;
  font-weight:500;
  margin-bottom:2px;
}

.company-info input{
  width:100%;
  height:28px;
  padding:4px 6px;
  font-size:12px;
}

/* BUTTON AREA */

.company-actions{
  margin-top:30px;
  background:#f5f5f5;
  padding:20px;
  border-radius:8px;

  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.company-actions button{
  width:180px;
}